/* Materialize Extensions */
/* Sticky Footer  for FF, Chrome, Safari */
body {
    display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
/* IE10+ fix to circumvent poorly supported flexbox features */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body, main {
		display: block;
		min-height: auto;
	}
}
/* Helpers */
/* Text helpers */
.uppercase {
	text-transform: uppercase;
}
